@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-image: url(/img/registro-bg.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
}
a{

    text-decoration: none;
    list-style: none;
}
a:hover{
    color: white;
    text-decoration: none;
}
#container {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: rgba(106, 144, 166, 0.90);
    font-family: 'Corben', cursive;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#container header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}

#container #form {
    margin-top: 30px;
}
#input-box label {
    color: #071E93;
    font-size: 1.5rem;
}
#form :where(#input-box input, #select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}
#input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

#form #column {
    display: flex;
    column-gap: 15px;
}
#form :where(.gender input, #gender label) {
    cursor: pointer;
}
#address :where(input, #select-box) {
    margin-top: 15px;
}

#select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}

#form button {
    height: 55px;
    width: 100%;
    color: #6A90A6;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #395CD7;
}

#form button:hover {
    background: #2550ee;
}

/*Responsive*/
@media screen and (max-width: 500px) {
    #form #column {
        flex-wrap: wrap;
    }

    #form :where(.gender-option, .gender) {
        row-gap: 15px;
    }
}