body{
    background: linear-gradient(180deg, rgba(3, 13, 47, 0.80) 28.74%, rgba(58, 72, 192, 0.80) 49.05%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#contenedor{
    background-image: url(/img/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    border-radius: 10px; 
    top: 10%;
    left: 10%;
    width: 90%;
    height: 90%;
}
nav{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
}
a {text-decoration: none;}
nav ul {
    display:  flex;
    list-style: none;
}
nav ul li{
    margin: 0 5px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
nav ul li a:hover,
nav ul li a:active{
    color: #1b1b1b;
    background: #fff;
    text-decoration: none;
}
nav #menu-btn i{
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}
@media (max-width: 940px){
    nav #menu-btn i{
        display: block;
    }
    #click:checked ~ #menu-btn i:before{
        content: "\f00d";
    }
    nav ul {
        position: fixed;
        top: 70px;
        left: -100%;
        background: linear-gradient(180deg, rgba(3, 13, 47, 0.80) 28.74%, rgba(58, 72, 192, 0.80) 49.05%);;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    nav ul li{
        margin: 40px 0;
    }
    nav ul li a{
        font-size: 20px;
        display: block;
    }
    nav ul li a:hover,
    nav ul li a:active{
    color: black;
    background: none;
}
}