<link rel="stylesheet" href="/css/vista.css">

<body>
    <div id="contenedor"></div>
        <nav>
            <div id=""><a href="/"><img src="/img/logo.png" alt="FINTECH" height="80px"></a></div>
            <input type="checkbox" id="click">
            <label for="click" id="menu-btn">
                <i class="fas fa-bars"></i>
            </label>
            <ul>
                <li><a id="active" href="/">Cerrar Sesion</a></li>
            </ul>
        </nav>
        {{#each lista}}
            <img id="fdf" src="{{fotoTienda}}" alt="Tu Tienda">
            <a href="/tienda/editar/{{idTienda}}"><button id="btn">Editar</button></a>
<<<<<<< HEAD
            <a href="http://localhost:4200/factura/agregar/1"><button id="btn2">Facturar</button></a>
=======
            <button id="btn2"><a href="/crear">Facturar</a></button>
>>>>>>> f58a0dec139112169f7967c82e5d5dbb9931d050
        {{/each}}
</body>