<link rel="stylesheet" href="/css/vista.css">

<body>
    <div id="contenedor"></div>
        <nav>
            <div id=""><a href="/"><img src="/img/logo.png" alt="FINTECH" height="80px"></a></div>
            <input type="checkbox" id="click">
            <label for="click" id="menu-btn">
                <i class="fas fa-bars"></i>
            </label>
            <ul>
                <li><a id="active" href="/agregar">Agregar Tienda</a></li>
            </ul>
        </nav>
            <img id="fdf" src="/img/agregar.png" alt="tienda">
            <button id="btn"><a href="/editar">Editar</a></button>
            <button id="btn2"><a href="/factura">Facturar</a></button>
</body>