<link rel="stylesheet" href="/css/inicio.css">

<body>
    <nav>
        <div id=""><img src="/img/logo.png" alt="FINTECH" height="80px"></div>
        <input type="checkbox" id="click">
        <label for="click" id="menu-btn">
            <i class="fas fa-bars"></i>
        </label>
        <ul>
            <li><a id="active" href="/login">Iniciar Sesion</a></li>
            <li><a href="/register">Registro</a></li>
        </ul>
    </nav>
</body>
