body {
    background: #fdfdfd;
    font-family: 'Oswald', sans-serif;

    overflow: hidden;
}

.index {
    width: 100vw;
    height: 100vh;
}

.navbar {
    background: black !important;
}

.nav-link {
    color: rgb(250, 250, 250) !important;
}

.masthead {
    color: rgb(252, 250, 250);
    min-height: 30rem;
    width: 100%;
    height: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: url('/img/background.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  
  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
    }
    .masthead h1 {
      font-size: 5.5rem;
    }
  }
#nombre{
position: relative;
top: 40px;
left: -85px;;
}
#tipo{
position: relative;
top: 12px;
right: 78px;
}
#unidad{
  position: relative;
  top:-10px;
  right: 85px;
}
#cantidad{
position: relative;
top: -30px;
right: 80px;
}
#costo{
position: relative;
top: -60px;
left: -90px;
}
#medida{
position: relative;
top: -55px;
}
#categoria{
position: relative;
top:-30px;
}
#actual{
  position: relative;
  top: -70px;
}
#precio{
  position: relative;
  top: -99px;
}
#delet{
  position: relative;
  top: -90px;
  
}
#edith{
  position: relative;
  top: -90px;
}
#time{
  position: relative;
  top: -90px;
}