<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/formulario.css">
<script src="/js/index.js"></script>
    <title>Document</title>
</head>
<body>
     <nav>
        <div id="logoFintech"><a href="/"><img src="/img/logo.png" alt="FINTECH" height="80px"></a></div>
        <label for="click" id="menu-btn">
            <i id="fas fa-bars"></i>
        </label>
    </nav>
    <div id="contenedor">
<br>
    <button id="agregarTiendaBtn">Agregar</button>
 <div id="contenido">
    <table id="tiendasTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Cédula</th>
                <th>Correo Electrónico</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí se agregarán las filas de la tabla dinámicamente -->
        </tbody>
    </table>
</div>
    <div id="detalleTienda" class="detalle">
        <!-- Aquí se mostrarán los detalles de la tienda seleccionada -->
    </div>
</div>
</body>
<script src="/js/index.js"></script>
</html>
