<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/formulario.css">
    <script src="/js/index.js"></script>
    <title>Document</title>
</head>

<body>
    <nav>
        <div id="logoFintech"><a href="/"><img src="/img/logo.png" alt="FINTECH" height="80px"></a></div>
        <label for="click" id="menu-btn">
            <i id="fas fa-bars"></i>
        </label>
    </nav>
    <div id="contenedor">
        <br>
        <a href="/factura/add/1"><button id="agregarTiendaBtn">Agregar</button></a>
        <div id="contenido">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Cédula</th>
                        <th>Correo Electronico</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div id="detalleTienda" class="detalle">
            <!-- Aquí se mostrarán los detalles de la tienda seleccionada -->
        </div>
    </div>
</body>
<script src="/js/index.js"></script>

</html>