<link rel="stylesheet" href="/css/login.css">
<title>Inicio de Sesion</title>
<body>
    <section id="container">
        <header>Iniciar Sesion</header>
        <center><a href="/"><img src="/img/logo.png" alt=""></a></center>
        <form action="" method="POST" id="form">
            <div id="input-box">
                <label>Tu Email:</label>
                <input type="email" name="correo_electronico_Due単o" placeholder="ejemplo@gmail.com" required />
            </div>
            <div id="input-box">
                <label>Contrase単a:</label>
                <input type="password" name="password_Due単o" placeholder="*****" required />
            </div>
            <button><a href="/tienda">Ingregsar</a></button>
            <br>
            <center>多No tienes una cuenta? <a href="/register">Registrate</a></center>
            {{#if error}}
                    <p>{{error}}</p>
            {{/if}}
        </form>
    </section>
</body>